version: '3.8'
 
services:

  influxdb:
    image: influxdb:2.7
    container_name: influxdb
    ports:
      - "8086:8086" 
    volumes:
      - influxdb_data:/var/lib/influxdb2 
    environment:
    
      - DOCKER_INFLUXDB_INIT_MODE=setup
      - DOCKER_INFLUXDB_INIT_USERNAME=admin
      - DOCKER_INFLUXDB_INIT_PASSWORD=password123
      - DOCKER_INFLUXDB_INIT_ORG=my-org
      - DOCKER_INFLUXDB_INIT_BUCKET=my-bucket
      - DOCKER_INFLUXDB_INIT_ADMIN_TOKEN=my-super-secret-token
     
    networks:
      - monitor-net


  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3000:3000" 
    volumes:
      - grafana_data:/var/lib/grafana
    depends_on:
      - influxdb 
    networks:
      - monitor-net


networks:
  monitor-net:

volumes:
  influxdb_data:
  grafana_data: